<% provide(:title, "About Divitia") %>
<div class="jumbotron">
<div class="text-center"><h1>About</h1></div>
	<div class="col-md-12">
	    <div class="text-center">
	    	<div class="total_budget">
	    		<h3>Divitia Personal Financial Planning Assistant</h3>
	    		<p>The next generation of unbiased financial advice. With you, wherever you are!</p>
	    	</div>
	    </div>
	</div>
	<div class="col-md">
		<div class="text-center">
			<%= video_tag("Divitia720.ogg", :size => "480x360", :controls => true, :autobuffer => true) %>
		</div>
	</div>
	<div class="text-center">
		<div class="col-md-6">
			<h3>Low Fees</h3>
		    <p>What if you didn't have to deal with expensive financial advisors ever again</p>
		</div>
	</div>
	<div class="text-center">
		<div class="col-md-6">
			<h3>Mobile Friendly</h3>
			<p>What if your financial plan was always with you, wherever you are</p>
		</div>
	</div>
	<div class="text-center">
		<div class="col-md-6">
			<h3>Expertise</h3>
			<p>Guided by unbiased advice from a CERTIFIED FINANCIAL PLANNER™ Practitioner</p>
		</div>
	</div>
	<div class="text-center">
		<div class="col-md-6">
			<h3>You're In Control</h3>
			<p>Implement our advice any way you want; with our partners or on your own</p>
		</div>
	</div>
	<div class="text-center">
		<div class="col-md-6">
			<h3>No Products</h3>
			<p>Because we don't sell products, you know are advice really is what's best for you</p>
		</div>
		<div class="col-md-6">
			<h3>Social But Private</h3>
			<p>Earn rewards and badges for achieving your dreams. Share, compare and even communicate with others</p>
		</div>
	</div>
</div>