<% provide(:title, "About Divitia") %>
<div class="jumbotron">
	<h1>About</h1>
	<div class= "text-center">
	    <div class="col-md">
			<div class="text-center">
  				<%= image_tag("divitia.png") %>
        	</div>
        </div>
	</div>
</div>