<% provide(:title, 'Contact Divitia') %>
<div class="jumbotron">
<h1>Contact</h1>
	<div class="col-md-4">
		<div class="text-center">
  			<%= image_tag("alan.jpg") %>
        </div>
    </div>
	<div class="col-md-8">
		<div class="text-center">
			<h3>© <a href="https://github.com/AlanMRhode/divitia">Divitia Financial Planning Assistant</a><br><br>is being developed by <a href="http://www.alanmrhode.com"><br><br>Alan M. Rhode, CFP®</a>. <br><br>Please email<a href="mailto:AlanMichaelRhode@gmail.com?Subject=Delete My Account" target="_top"><br><br>Divitia</a><br><br>with any questions!</h3>
		</div>
	</div>
</div>