<% provide(:title, 'Contact Divitia') %>
<div class="jumbotron">
<div class="text-center"><h1>Contact</h1></div>
	<div class="col-md-12">
		<div class="text-center">
			<div class= "total_budget">
				<h3><a href="https://github.com/AlanMRhode/divitia">Divitia Financial Planning Assistant</a></h3>
			</div>
		</div>
			<br>
			<div class="col-md-12">
				<div class="text-center">
					<p>Currently in development by <a href="http://www.alanmrhode.com">Alan M. Rhode, CFP®</a>. Please email <a href="mailto:AlanMichaelRhode@gmail.com?Subject=Question" target="_top">Divitia</a> with any questions!</p>
				</div>
			</div>
		</div>
	</div>
</div>