<% provide(:title, 'Contact Divitia') %>
<h1>Contact</h1>
<div class="text-center">
	<h2>Please visit <a href="http://www.alanmrhode.com">Alan's M. Rhode, CFP®</a> for all questions and concerns. The best is yet to come! Thank you kindly for visiting!</h2>
</div>