<% provide(:title, "Help") %>
<div class="jumbotron">
<div class="text-center"><h1>Help</h1></div>
<div class="text-center">
	<div class="col-md-12">
		<div class= "total_budget">
			<h3>Financial Planning</h3>
			<p>The process of determining whether and how an individual can meet life goals through the proper management of financial resources.</p>
		</div>
	</div><br>
</div>
<div class="text-center">
	<div class="col-md-6">
		<h3>Balance Sheet</h3>
		<p>A balance sheet is a financial statement that summarizes your assets and liabilities at a specific point in time.</p>
	</div>
</div>
<div class="text-center">
	<div class="col-md-6">
		<h3>Assets</h3>
		<p>An asset is a resource with economic value that an individual owns or controls with the expectation that it will provide future benefit.</p>
	</div>
</div>
<div class="text-center">
	<div class="col-md-6">
		<h3>Liabilities</h3>
		<p>A liability is a debt or obligation that is settled over time through the transfer of economic benefits including money, goods or services.</p>
	</div>
</div>
<div class="text-center">
	<div class="col-md-6">
		<h3>Budget</h3>
		<p>A personal budget is a finance plan that allocates future personal income towards expenses, savings and debt repayment.</p>
	</div>
</div>
<div class="text-center">
	<div class="col-md-6">
		<h3>Income</h3>
		<p>Income is money that an individual receives in exchange for providing a good or service or through investing capital.</p>
	</div>
</div>
<div class="text-center">
	<div class="col-md-6">
		<h3>Expenses</h3>
		<p>The financial management which an individual is required to do to obtain, budget, save, and spend monetary resources over time.</p>
	</div>
</div>
</div>






