<% provide(:title, 'We Plan') %>
<div class="jumbotron">
<div class="text-center"><h1>We Plan</h1></div>
	<div class="text-center">
		<div class="users">
 			 <%= render @users %>
		</div>
<%= will_paginate %>
</div>
</div>
