<footer class="navbar navbar-fixed-bottom">
  <small>
    © <a href="https://github.com/AlanMRhode/divitia">Divitia Financial Planning Assistant</a> | <a href="http://www.alanmrhode.com">Alan M. Rhode, CFP®</a> | 2016
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>